@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:300,400,500,700");
@import url(https://use.fontawesome.com/releases/v5.2.0/css/all.css);

body {
  background-color: #F7F9FC;
  font-family: 'Open Sans', sans-serif;
  color: #575F7D;
  font-size: 18px;
  line-height: inherit;
  text-align: center;
  font-weight: lighter;
}


h1, h2, h3 {
  color: #353535;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.5;
}

a {
  font-family: fantasy;
  text-decoration: wavy;
  color: maroon;
  font-weight: bolder;
  font-size: 16px;
}
a:hover {
  color: #DDFFD9;
}

.container {
  width: 500px;   /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */
}
.btn-blue {
  background-color: #6B72E1;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
}
.card-white {
    background-color: white;
    padding: 40px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
    border-radius: 4px;
    margin: 60px 50px;
    text-align: center;
}
.list-inline {
  list-style: none;
  padding-left: 0px;
}
